<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header></header>
  <main>
    <div>
      <div class="alert">
        <div>
          <div>info</div>
          <div></div>
        </div>
      </div>
    </div>
    <div>
      <div class="toast">
        <div>
          <div></div>
          <div>info</div>
        </div>
      </div>
    </div>
    <div>
      <div class="snackbar">
        <div>
          <div></div>
          <div>Action</div>
        </div>
      </div>
    </div>
    <div>
      <div class="modal">
        <div>
          <div>#</div>
        </div>
      </div>
    </div>
    <div>
      <div class="drawer">
        <div>
          <div>Title</div>
          <div></div>
        </div>
      </div>
    </div>
    <div>
      <div class="bottom-sheet">
        <div>
          <div>Title</div>
          <div></div>
        </div>
      </div>
    </div>
    <div>
      <div class="popover">
        <div>
          <div>Trigger</div>
          <div></div>
        </div>
      </div>
    </div>
    <div>
      <div class="tooltip">
        <div>
          <div>Trigger</div>
          <div></div>
        </div>
      </div>
    </div>
    <div>
      <div class="spinner">
        <div>
          <div>Loading</div>
        </div>
      </div>
    </div>
    <div>
      <div class="skeleton-loader">
        <div>
          <div>text</div>
          <div>3</div>
        </div>
      </div>
    </div>
    <div>
      <div class="progress-bar">
        <div>
          <div>Label</div>
          <div>50</div>
        </div>
      </div>
    </div>
    <div>
      <div class="banner">
        <div>
          <div></div>
          <div>#</div>
        </div>
      </div>
    </div>
    <div>
      <div class="empty-state">
        <div>
          <div>Title</div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
</html>
