<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header></header>
  <main>
    <div>
      <div class="input-field">
        <div>
          <div>Label</div>
          <div>Placeholder</div>
        </div>
      </div>
    </div>
    <div>
      <div class="textarea">
        <div>
          <div>Label</div>
          <div>Placeholder</div>
        </div>
      </div>
    </div>
    <div>
      <div class="checkbox">
        <div>
          <div>Label</div>
          <div>Value</div>
        </div>
      </div>
    </div>
    <div>
      <div class="radio-button">
        <div>
          <div>Label</div>
          <div>Value</div>
        </div>
      </div>
    </div>
    <div>
      <div class="select-dropdown">
        <div>
          <div>Label</div>
          <div>Options</div>
        </div>
      </div>
    </div>
    <div>
      <div class="toggle-switch">
        <div>
          <div>Label</div>
        </div>
      </div>
    </div>
    <div>
      <div class="slider">
        <div>
          <div>Label</div>
          <div>0</div>
          <div>100</div>
          <div>50</div>
        </div>
      </div>
    </div>
    <div>
      <div class="date-picker">
        <div>
          <div>Label</div>
          <div>Placeholder</div>
        </div>
      </div>
    </div>
    <div>
      <div class="number-input">
        <div>
          <div>Label</div>
          <div>0</div>
          <div>100</div>
        </div>
      </div>
    </div>
    <div>
      <div class="file-upload">
        <div>
          <div>Label</div>
          <div>*/*</div>
        </div>
      </div>
    </div>
    <div>
      <div class="combobox">
        <div>
          <div>Label</div>
          <div>Options</div>
        </div>
      </div>
    </div>
    <div>
      <div class="button">
        <div>
          <div>Label</div>
          <div>#</div>
        </div>
      </div>
    </div>
    <div>
      <div class="button-group">
        <div>
          <div>Button 1</div>
          <div>Button 2</div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
</html>
