<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header></header>
  <main>
    <div>
      <div class="breadcrumbs">
        <div>
          <div>Item</div>
          <div>#</div>
        </div>
      </div>
    </div>
    <div>
      <div class="sidebar">
        <div>
          <div>Item</div>
          <div>#</div>
        </div>
      </div>
    </div>
    <div>
      <div class="bottom-navigation">
        <div>
          <div>Item</div>
          <div>#</div>
        </div>
      </div>
    </div>
    <div>
      <div class="stepper">
        <div>
          <div>Step Label</div>
          <div>Description</div>
        </div>
      </div>
    </div>
    <div>
      <div class="pagination">
        <div>
          <div>10</div>
          <div>1</div>
        </div>
      </div>
    </div>
    <div>
      <div class="back-to-top">
        <div>
          <div></div>
        </div>
      </div>
    </div>
    <div>
      <div class="dropdown-menu">
        <div>
          <div>Trigger</div>
          <div>Item</div>
        </div>
      </div>
    </div>
    <div>
      <div class="tree-view">
        <div>
          <div>Item</div>
          <div>Children</div>
        </div>
      </div>
    </div>
    <div>
      <div class="link">
        <div>
          <div>Label</div>
          <div>#</div>
        </div>
      </div>
    </div>
    <div>
      <div class="divider">
        <div>
          <div></div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
</html>
